.Footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #FF3499;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px;
}

.loggin {
    background: none;
    border: none;
    cursor: pointer;
}

.loggin:hover {
    background-color: #ffa9c4;
}
