.home-text {
    margin-bottom: 70px;
}

.barbi-img1 {
    max-width: 300px;
    margin: 50px;
    margin-bottom: 120px;
    margin-left: 10px;
}

h2 {
    color: #6c6c6c;
    margin-bottom: 50px;
}

.product-button {
    background-color: #FF3499;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 9px;
    width: 100px;
    margin-top: 20px;
}
