.home-text {
    margin: 0 auto;
    text-align: center;
}

.home-container {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 20px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  background-color: #373838c0;
  border-radius: 15px;
  box-shadow: 0 4px 10px #FF3499;
  margin-top: 20px;
  margin-bottom: 20px;
}

.barbi-img1 {
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 6px 12px #FF3499;
  margin: 0 auto;
  margin-bottom: 30px;
}

.barbi-img1:hover {
    transform: scale(1.05); 
}

.home-info {
    background-color: #45424313;
    margin: 20px auto;
    padding: 30px;
    color: #ffffff;
    border-radius: 15px;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin-top: -35px;
}

.product-button {
    background-color: #FF3499;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 9px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.product-button:hover {
    background-color: #ffc1e0;
}

@media (max-width: 320px) {
 .home-container {
        max-width: 300px;
        padding: 10px; 
    }

    .barbi-img1 {
        max-width: 100%;  
    }

    .home-info {
        padding: 15px; 
        font-size: 14px; 
    }

    .home-text {
        font-size: 20px; 
    }

    .product-button {
        font-size: 14px; 
        padding: 8px 12px; 
    }
}