:root {
  font-family: 'Arima', 'Dancing Script', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  background-color: #131313f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.continue {
  background-color: #FF3499;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 9px;
  width: 100px;
  cursor: pointer;
}

.continue:hover {
  background-color: #f686be;
}


.Footer {
  background-color: #FF3499;
  height: 100px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px;
}

input, select {
    background-color: white;
    color: black;
    padding: 7px;
    margin-top: 5px;
    border-radius: 5px;
}

